@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.food__card__container {
  @apply border-4 border-teal-400;
  @apply rounded-lg shadow-lg;
  @apply flex flex-col items-center justify-center w-full h-full p-4;
}

.food__card__title {
  @apply text-2xl font-bold;
}

.food__card__image {
  @apply w-64 h-full;
  @apply rounded-lg;
}
